* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

a {
    cursor: pointer;
    color: inherit !important;
}

img {
    border: none;
}

body,
header,
section,
footer,
nav,
div,
p,
ul,
ul li,
ol,
ol li,
h1,
h2,
h3,
dl,
dl dt,
dl dd {
    margin: 0;
    padding: 0;
}

header,
section,
footer,
nav,
article,
aside {
    display: block;
}

fieldset {
    border: none;
}

input, textarea, select {
    border: none;
    outline: none;
    background: none;
    color: inherit;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    cursor: pointer;
}
button:focus {
    outline: none;
}

.blind {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 0;
    overflow: hidden;
}